{% extends 'base.html' %}

{% block content %}
    <div class="rules-container">
        <h2>Правила сайту</h2>
        <div class="rules-content">
            <p>Перш ніж використовувати наш сайт, будь ласка, ознайомтеся з нашими правилами та умовами. Якщо ви не
                згодні з ними, ви не можете використовувати наш сайт. Якщо ви використовуєте наш сайт, ви погоджуєтеся з
                нашими правилами та умовами.</p>
            <h2>Правила для користувачів</h2>
            <ul>
                <li>Ви маєте бути старше 18 років, щоб використовувати наш сайт.</li>
                <li>Ви маєте надавати достовірну й актуальну інформацію про себе під час реєстрації та в профілі.</li>
                <li>Ви не повинні використовувати наш сайт для незаконних, шкідливих, образливих чи інших неприйнятних
                    цілей.
                </li>
                <li>Ви не повинні порушувати авторські права, торгові марки або інші права інтелектуальної власності при
                    використанні нашого сайту.
                </li>
                <li>Ви не повинні завантажувати, публікувати або поширювати на нашому сайті віруси, шкідливі програми
                    або інші небезпечні файли.
                </li>
                <li>Ви не повинні намагатися зламати, атакувати або пошкодити наш сайт або його сервери.</li>
                <li>Ви не повинні створювати кілька акаунтів, представлятися іншими особами або помилково стверджувати
                    свою
                    приналежність до будь-якої організації або групи.
                </li>
                <li>Ви не повинні ображати, погрожувати, переслідувати або дискримінувати інших користувачів нашого
                    сайту.
                </li>
                <li>Ви повинні дотримуватися правил додатків та ігор, які ви завантажуєте з нашого сайту.</li>
            </ul>
            <h2>Правила для розробників</h2>
            <ul>
                <li>Ви маєте бути старше 18 років, щоб додавати свої додатки та ігри на наш сайт.</li>
                <li>Ви повинні бути законним власником або мати дозвіл на використання додатків та ігор, які
                    ви додаєте на наш сайт.
                </li>
                <li>Ви не повинні додавати додатки та ігри, які містять незаконний, шкідливий, образливий або
                    інший неприйнятний контент.
                </li>
                <li>Ви не повинні додавати додатки та ігри, які порушують авторські права, торгові марки або
                    інші права інтелектуальної власності інших осіб.
                </li>
                <li>Ви не повинні додавати додатки та ігри, які містять віруси, шкідливі програми або інші
                    небезпечні файли.
                </li>
                <li>Ви не повинні додавати додатки та ігри, які можуть зламати, атакувати або пошкодити наш сайт
                    або його сервери.
                </li>
                <li>Ви не повинні додавати додатки та ігри, які можуть ображати, погрожувати, переслідувати або
                    дискримінувати інших користувачів нашого сайту.
                </li>
                <li>Ви повинні дотримуватися правил нашого сайту під час додавання своїх додатків та ігор.</li>
            </ul>
            <h2>Умови використання</h2>
            <ul>
                <li>Ми надаємо наш сайт вам на умовах "як є" і "як доступно", без будь-яких гарантій або
                    зобов'язань з нашого боку.
                </li>
                <li>Ми не несемо відповідальності за будь-які збитки, шкоду, претензії або позови, які можуть виникнути
                    у зв'язку з
                    зв'язку з використанням нашого сайту або його вмісту.
                </li>
                <li>Ми не несемо відповідальності за якість, безпеку, надійність, доступність або працездатність
                    нашого сайту або його вмісту.
                </li>
                <li>Ми не несемо відповідальності за будь-які порушення прав або законів, які можуть бути здійснені вами
                    або іншими користувачами нашого сайту або його вмісту.
                </li>
                <li>Ми залишаємо за собою право змінювати, призупиняти, припиняти або видаляти наш сайт або його
                    вміст на наш розсуд і без попереднього повідомлення.
                </li>
                <li>Ми залишаємо за собою право блокувати, видалити або заборонити доступ до нашого сайту або його
                    вмісту для будь-якого користувача, який порушує наші правила та умови.
                </li>
                <li>Ми залишаємо за собою право змінювати наші правила та умови на наш розсуд і без
                    попереднього повідомлення.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
